{
  "env": {
    "default": {
      "db": "http://jamesjackson:kundun13@127.0.0.1:5984/printkeeper"
    },
    "staging": {
      "db": "https://jamesdjackson:kundun13@jamesdjackson.cloudant.com/printkeeper"
    }
  }
}
